.footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100vw;
}

.social-media-list{
  display: flex;
  flex-direction: row;
  align-content: end;
  list-style-type: none;
}
li {
    padding: 0 2rem;
}
